@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: Poppins;
}

ul, li, a, h1, h2, p {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0px 10px;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

.first__page {
  width: 100%;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: url("../img/firstpage/men.png") 100% 50%/650px 460px no-repeat, url("../img/firstpage/Rectangle20.png") bottom center/cover;
}

@media (width: 1600px) {
  .first__page {
    background: url("../img/firstpage/blue.png") 62.7% 34% no-repeat, url("../img/firstpage/purple.png") 86.7% 33.2% no-repeat, url("../img/firstpage/Ellipse12.png") 81% 88% no-repeat, url("../img/firstpage/men.png") 100% no-repeat, url("../img/firstpage/Ellipse11.png") 80% 44.5% no-repeat, url("../img/firstpage/Vector.png") 90% 80% no-repeat, url("../img/firstpage/Rectangle20.png") left/contain repeat;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.header__logo {
  padding: 50px 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #050C26;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  position: relative;
  margin: 0 50px 0 0;
  border-bottom: 2px solid transparent;
}

.header__list li:hover {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-bottom: 2px solid #3988FF;
}

.header__list li:hover a {
  color: #3988FF;
}

.header__list li a {
  font-size: 18px;
  line-height: 160%;
  text-transform: capitalize;
  color: #575859;
}

.knopka {
  background: #3988FF;
  border-radius: 5px;
}

.knopka a {
  display: inline-block;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  color: #FFFFFF;
}

.knopka:hover {
  opacity: 0.8;
}

.knopka-w {
  background: #FFFFFF;
  border: 1px solid #3988FF;
  border-radius: 5px;
}

.knopka-w a {
  display: inline-block;
  padding: 15px 30px;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #3988FF;
}

.knopka-w:hover {
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .page__first__text {
    font-size: 49px;
    line-height: 80%;
  }
  .container {
    width: 980px;
  }
  .container {
    width: 1000px;
    margin: 0 auto;
    padding: 0px 10px;
  }
  .about__row__img {
    display: none;
  }
}

@media (max-width: 991px) {
  .container {
    width: 880px;
    margin: 0 auto;
    padding: 0px 10px;
  }
  .header__list li {
    margin-right: 20px;
  }
}

@media (max-width: 890px) {
  .first__page {
    background: url("../img/firstpage/Rectangle20.png") bottom center/cover;
  }
  .container {
    width: 700px;
  }
  .header__list {
    margin-left: 15px;
  }
  .header__list li a {
    font-size: 15px;
  }
  .header__button a {
    padding: 5px 15px;
  }
  .about__page {
    background: url("../img/about/bgau.png") 45% 0/cover no-repeat;
  }
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 5;
  }
  .header__burger:after, .header__burger:before {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    height: 2px;
    top: 9px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9px;
  }
  .header__menu {
    overflow: scroll;
    padding-top: 70px;
    position: fixed;
    z-index: 3;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dfec1e;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 4%;
  }
  .header__list li > a {
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
  }
  body.lock {
    overflow: hidden;
  }
  .container {
    width: 650px;
  }
  .page__first__subtext {
    max-width: 350px;
  }
  .page__first__text p {
    font-size: 34px;
    max-width: 350px;
    line-height: 120%;
  }
}

@media (max-width: 680px) {
  .container {
    max-width: 550px;
  }
}

@media (max-width: 590px) {
  .container {
    max-width: 450px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 360px;
  }
}

@media (max-width: 380px) {
  .container {
    max-width: 300px;
    padding: 0px 10px;
  }
  .title__text h2 {
    font-size: 24px;
  }
}

.page__first__text {
  max-width: 550px;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 69px;
  line-height: 120%;
  color: #050C26;
}

.page__first__text span {
  color: #3988FF;
}

.page__first__subtext {
  max-width: 550px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #575859;
  padding: 25px 0;
  margin-bottom: 10px;
}

.page__first__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__first__video__icon a {
  display: block;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px #FFE6E6;
          box-shadow: 0px 0px 30px #FFE6E6;
}

.page__first__video__icon a::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 22px solid #1B45DA;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

.page__first__video__icon a:hover:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 26px solid #1B45DA;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

.page__first__video__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.about-us {
  margin-bottom: 130px;
}

.about__page {
  margin-top: 55px;
  padding-top: 35px;
  background: url("../img/about/bgau.png") 45% 0 no-repeat;
}

.title {
  text-align: center;
  max-width: 806px;
  margin: 0 auto;
}

.title__text h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 130%;
  text-align: center;
  color: #050C26;
  padding-bottom: 25px;
}

.title__subtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #575859;
}

.about__container {
  padding: 60px 15px 0px 10px;
  max-width: 1300px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__row__img {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}

.about__row__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.about__row__diagram {
  max-width: 488px;
  padding-left: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.diagram {
  width: 100%;
}

.diagram__item {
  width: 100%;
}

.diagram__item__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  color: #050C26;
  margin-bottom: 35px;
}

.diagram__item__line1 {
  height: 15px;
  background-color: rgba(228, 26, 26, 0.1);
  border-radius: 20px;
  padding-right: 20%;
}

.diagram__item__line1__subline {
  height: 100%;
  border-radius: 20px;
  background-color: #E41A1A;
  position: relative;
}

.diagram__item__line1__subline::before {
  content: '80%';
  position: absolute;
  bottom: 100%;
  right: 0;
  color: #E41A1A;
  font-family: Lato;
  font-size: 25px;
  line-height: 38px;
}

.diagram__item__line2 {
  height: 15px;
  background-color: rgba(218, 90, 18, 0.1);
  border-radius: 20px;
  padding-right: 10%;
}

.diagram__item__line2__subline {
  height: 100%;
  border-radius: 20px;
  background-color: #DA5A12;
  position: relative;
}

.diagram__item__line2__subline::before {
  content: '90%';
  position: absolute;
  bottom: 100%;
  right: 0;
  color: #DA5A12;
  font-family: Lato;
  font-size: 25px;
  line-height: 38px;
}

.diagram__item__line3 {
  height: 15px;
  background-color: rgba(91, 187, 16, 0.1);
  border-radius: 20px;
  padding-right: 25%;
}

.diagram__item__line3__subline {
  height: 100%;
  border-radius: 20px;
  background-color: #5BBB10;
  position: relative;
}

.diagram__item__line3__subline::before {
  content: '75%';
  position: absolute;
  bottom: 100%;
  right: 0;
  color: #5BBB10;
  font-family: Lato;
  font-size: 25px;
  line-height: 38px;
}

.diagram__item__line4 {
  height: 15px;
  background-color: rgba(21, 193, 204, 0.1);
  border-radius: 20px;
  padding-right: 20%;
}

.diagram__item__line4__subline {
  height: 100%;
  border-radius: 20px;
  background-color: #15C1CC;
  position: relative;
}

.diagram__item__line4__subline::before {
  content: '80%';
  position: absolute;
  bottom: 100%;
  right: 0;
  color: #15C1CC;
  font-family: Lato;
  font-size: 25px;
  line-height: 38px;
}

.features {
  padding: 10px;
  background: url("../img/feauteres/FEATURES.png") 48% 0 no-repeat;
}

.features__row {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  padding: 27px 22px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid rgba(5, 12, 38, 0.05);
  border-radius: 10px;
  max-width: 263px;
  margin-right: 10px;
  cursor: pointer;
}

.features__item:last-child {
  margin: 0;
}

.features__item:hover {
  background-color: rgba(247, 250, 47, 0.208);
  border: 1px solid rgba(247, 250, 47, 0.408);
  -webkit-box-shadow: -1px -1px 0px rgba(247, 250, 47, 0.05);
          box-shadow: -1px -1px 0px rgba(247, 250, 47, 0.05);
}

.features__item__pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pic1 {
  background-color: rgba(255, 96, 96, 0.1);
}

.pic2 {
  background-color: rgba(243, 83, 170, 0.1);
}

.pic3 {
  background-color: rgba(197, 72, 255, 0.1);
}

.pic4 {
  background-color: rgba(79, 158, 252, 0.1);
}

.features__item__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  color: #050C26;
  margin-bottom: 15px;
}

.features__item__subtitel {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #575859;
  margin-bottom: 25px;
  max-width: 219px;
}

.service {
  background: url("../img/service/serviceBg.png") top right no-repeat;
  margin-top: 120px;
  margin-bottom: 80px;
}

.service__text {
  margin-bottom: 70px;
}

.service__text__title {
  margin-bottom: 20px;
  max-width: 492px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 140%;
  color: #050C26;
}

.service__text__subtitle {
  max-width: 604px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #575859;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__item {
  padding: 4.4%;
  max-width: 360px;
  border: 1px solid green;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/service/item.png") center/cover no-repeat;
  border-radius: 10px;
  cursor: pointer;
}

.service__item:hover, .service__item :focus, .service__item :active {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(104px);
          backdrop-filter: blur(104px);
}

.service__item:hover .service__content, .service__item :focus .service__content, .service__item :active .service__content {
  background: -webkit-gradient(linear, left top, left bottom, from(#D93059), to(#D95B7A));
  background: linear-gradient(180deg, #D93059 0%, #D95B7A 100%);
}

.service__item:hover .service__content__title, .service__item :focus .service__content__title, .service__item :active .service__content__title {
  color: #FFFFFF;
}

.service__item:hover .service__content__subtitle, .service__item :focus .service__content__subtitle, .service__item :active .service__content__subtitle {
  color: #FFFFFF;
}

.service__item:hover .service__content__subtitle__link a::before, .service__item :focus .service__content__subtitle__link a::before, .service__item :active .service__content__subtitle__link a::before {
  background: url(../img/service/arrowBlue.png) center/contain no-repeat;
}

.service__content {
  padding: 60px 20px;
  max-width: 221px;
  border-radius: 10px;
  background: #F3F3F3;
}

.service__content__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  color: #050C26;
}

.service__content__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #575859;
  margin-bottom: 40px;
}

.service__content__subtitle__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__content__subtitle__link a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFFFFF;
}

.service__content__subtitle__link a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.service__content__subtitle__link a::before {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-7px, -7px);
          transform: translate(-7px, -7px);
  background: url(../img/service/arrowB.png) center/contain no-repeat;
}

@media (max-width: 1200px) {
  .features__row, .service__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .features__item {
    margin: 0;
  }
}

.offers {
  margin-bottom: 140px;
}

.offers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.offers__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-bottom: 15px;
  letter-spacing: 0.05em;
}

.offers__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  color: #050C26;
  padding-bottom: 30px;
}

.offers__tarif__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #1B45DA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 60px;
}

.offers__tarif__row__item {
  padding: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #575859;
  border-radius: 5px;
  cursor: pointer;
}

.offers__tarif__row__item:hover {
  background: #3988FF;
  color: white;
}

.offers__tarif__row__item-active {
  background: #3988FF;
  color: white;
}

.offers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers__row__items {
  max-width: 360px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14);
          box-shadow: 0px 4px 30px rgba(153, 153, 153, 0.14);
  border-radius: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  padding-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers__row__items:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#D9315A), to(#F3678A));
  background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
}

.offers__row__items:hover .offers__row__text {
  color: #FFFFFF;
}

.offers__row__items:hover .offers__row__money {
  color: #FFFFFF;
}

.offers__row__items:hover .offers__row__money span {
  color: #FFFFFF;
}

.offers__row__items:hover .offers__row__button {
  border: 1px solid #3988FF;
  background: #3988FF;
}

.offers__row__items:hover .offers__row__button a {
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  color: #FFFFFF;
}

.offers__row__items:hover .offers__row__items {
  background: linear-gradient;
}

.offers__row__items:hover .offers__row__title {
  background: -webkit-gradient(linear, left top, left bottom, from(#D95374), to(#D32852));
  background: linear-gradient(180deg, #D95374 0%, #D32852 100%);
}

.offers__row__items-a {
  background: -webkit-gradient(linear, left top, left bottom, from(#D9315A), to(#F3678A));
  background: linear-gradient(180deg, #D9315A 0%, #F3678A 100%);
  position: relative;
}

.offers__row__title-a {
  background: -webkit-gradient(linear, left top, left bottom, from(#D95374), to(#D32852));
  background: linear-gradient(180deg, #D95374 0%, #D32852 100%);
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
  background: url(../img/absolute.png) 0 0/contain no-repeat;
}

.wrap span {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 160%;
  color: #050C26;
  -webkit-transform-origin: 55% 100%;
          transform-origin: 55% 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.offers__row__title {
  padding: 45px 0;
  -webkit-box-shadow: 0px 1px 0px rgba(153, 153, 153, 0.14);
          box-shadow: 0px 1px 0px rgba(153, 153, 153, 0.14);
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 40px;
  width: 100%;
}

.offers__row__money {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 140%;
  color: #050C26;
  margin-bottom: 15%;
}

.offers__row__money span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #050C26;
  padding-right: 5px;
}

.offers__row__tarif {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 40px;
}

.offers__row__text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #575859;
  margin-bottom: 15px;
}

.offers__row__text:last-child {
  margin: 0;
}

.offers__row__button {
  border: 1px solid #3988FF;
}

.offers__row__button a {
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
}

@media (max-width: 769px) {
  .offers__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offers__row__items {
    width: 100%;
    margin-bottom: 20px;
  }
  .offers__row__items:last-child {
    margin: 0;
  }
}

.review {
  margin-bottom: 140px;
}

.review__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__text {
  text-align: center;
  margin-bottom: 70px;
}

.review__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  color: #050C26;
  padding-bottom: 25px;
}

.review__subtitle {
  max-width: 715px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #575859;
}

.review__slider {
  max-width: 1000px;
}

.slider__items {
  max-width: 1140px;
  min-height: 374px;
  border: 1px solid #050c2618;
  border-radius: 10px;
  background: url(../img/sliderbg.png);
}

.slider {
  width: 100%;
}

.review__row {
  padding: 46px 49px 100px 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0%;
  overflow: visible;
}

@media (max-width: 1200px) {
  .review__row {
    padding: 26px 29px 50px 29px;
  }
}

@media (max-width: 769px) {
  .review__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review__row__items {
    padding-bottom: 20px;
  }
}

.review__row__items {
  min-width: 0%;
  position: relative;
  margin: 10px 20px;
}

.review__row__items::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 42px;
  height: 35px;
  background: url(../img/Group.png) center/contain;
}

.review__row__text {
  padding-left: 42px;
  padding-top: 15px;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #575859;
  width: 100%;
}

.review__row__text p {
  max-width: 371px;
}

.review__row__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.review__row__img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 30px;
}

.review__row__img img {
  border-radius: 50%;
  max-width: 100%;
}

.review__row__person p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #050C26;
}

.review__row__person span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #575859;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.footer {
  background: #050C26;
  padding-top: 75px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 55px;
}

.footer__items {
  max-width: 25%;
}

.footer__logo {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.footer__text {
  max-width: 316px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
}

.footer__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.footer__list li {
  border-bottom: 1px solid transparent;
  margin-bottom: 10px;
}

.footer__list li:last-child {
  margin: 0;
}

.footer__list li:hover {
  display: inline-block;
  opacity: 0.7;
  border-bottom: 1px solid #fff;
}

.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}

.footer__mail {
  margin-bottom: 10px;
}

.footer__mail a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
}

.footer__pictures {
  margin-bottom: 30px;
}

.footer__pictures__img a {
  padding-right: 25px;
  opacity: 0.5;
}

.footer__pictures__img a:last-child {
  padding: 0;
}

.footer__pictures__img a:hover {
  opacity: 1;
}

.footer__button {
  display: inline-block;
}

.footer__button a {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.footer__bottom {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.footer__bottom p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #575859;
}

@media (max-width: 769px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__items {
    max-width: 50%;
    padding: 20px 5px 0px;
  }
  .footer {
    padding-top: 10px;
  }
  .review {
    margin-bottom: 40px;
  }
}

@media (max-width: 589px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__mail a {
    text-align: center;
  }
  .service__text {
    text-align: center;
  }
  .service__text__title {
    text-align: center;
  }
}

@media (max-width: 415px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__items {
    max-width: 100%;
  }
  .service__text {
    text-align: center;
  }
  .features__item {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */